<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oauth App</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <fieldset>
      <caption>
        Agoric Identity
      </caption>
      <br />
      <label>
        Chain ID: <input id="chainId" value="agoric-emerynet-8" />
      </label>
      <button id="connectWallet" type="button">Connect Keplr</button>
      <br />
      <label id="addrControl">
        Address: <input id="address" readonly="true" />
      </label>
      <br />
      <button id="signChallenge" type="button">Sign Binding</button>
    </fieldset>

    <script type="module">
      const accountSetup = async keplr => {
        if (!keplr) {
          alert('Please install keplr extension');
          return;
        }
        const elt = {
          chainId: $('#chainId'),
          addrControl: $('#addrControl'),
          address: $('#address'),
        };

        const chainId = elt.chainId.val();
        await window.keplr.enable(chainId);

        const signer = window.keplr.getOfflineSigner(chainId);
        const accounts = await signer.getAccounts();
        console.log('accounts', { accounts });
        const [{ address }] = accounts;
        elt.address.val(address);
      };

      const signChallenge = async keplr => {
        const address = $('#address').val();
        const chainId = $('#chainId').val();

        const sig = await keplr.signArbitrary(
          chainId,
          address,
          JSON.stringify({
            username: '<%= user.username %>',
            challenge: '<%= user.walletChallenge %>',
          })
        );

        console.log('signed challenge', sig);
        $.ajax({
          type: 'POST',
          headers: { 'Content-Type': 'application/json' },
          url: '/wallet-link/signed-challenge',
          success: function (order) {
            window.location.href = 'profile';
          },
          data: JSON.stringify({
            chainId,
            address,
            signedChallenge: sig,
          }),
        });
      };

      window.onload = async () => {
        const elt = {
          connect: $('#connectWallet'),
          sign: $('#signChallenge'),
        };
        elt.connect.on('click', _ev => {
          accountSetup(window.keplr);
        });
        elt.sign.on('click', _ev => {
          signChallenge(window.keplr);
        });
      };
    </script>
  </body>
</html>
